################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NeuNets/.vs/NeuNets/v16
/NeuNets/bin/Debug/netcoreapp3.0
/NeuNets/obj
/NeuNetTests/bin/Debug/netcoreapp3.0
/NeuNetTests/obj
